[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hySpc.testthat"]
	path = hySpc.testthat
	url = https://github.com/cran/hySpc.testthat
